.task1__wrapper{
    grid-area: wrapper;
    display: flex;
    justify-content: center;
    background: var(--background-color, #ABFCC2);
    gap: 250px;
    padding: 30px;
    /* height: 100vw; */
}
.task1__explanationWrapper{
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-content: center;
    padding-top: 80px;
}
.task1__note {
    width: 200px;
    height: 100px;
    position: relative;
    background: var(--task-color, #F6F897);
    border-radius: 20px;
    padding: 30px;
}
.explanationHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color, #171710);
    text-align: center;
}
.task1__wordsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    padding: 40px 90px 40px 90px;
    background: var(--task-color, #F6F897);
    border-radius: 20px;
}
.task1__wordHolder {
    display: flex;
    gap: 20px;
}
/* .task1_label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
} */
.task1__button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background: var(--button-color, #4AEC47);
    padding: 20px;
    color: var(--text-color, #171710);
    border-radius: 20px;
}