.task2__wrapper {
    grid-area: wrapper;
    padding-top: 40px;
    /* padding-left: 200px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background: var(--background-color, #ABFCC2);
    position: relative;
    height: 100vh;
}
.image__wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    background: var(--task-color, #F6F897);
    padding: 10px;
    
}
.task2__taskholder {
    width: 900px;
    height: 100px;
    border-radius: 10%;
    background: var(--task-color, #F6F897);
    padding: 10px 0px 30px 40px;
    border-radius: 20px;

    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--text-color, #171710);    
}
/* .task2__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    color: var(--text-color, #171710);
} */
.task2__form {
    display: flex;
    gap: 30px;
    padding-left: 10px;
    align-items: center;
}
.task2__input {
    width: 195px;
    border: solid 2px black;
}
.button__futher {
    width: 200px;
    height: 50px;
    background: var(--button-color, #4AEC47);
    /* visibility: hidden; */
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--text-color, #171710);
} 
.button__futher:hover {
    border: solid 2px black;
    cursor: pointer;
}
